/* Reset */
html {
    font-size: 10px;
    font-family: var(--text-font-family);
    line-height: var(--text-line-height);
    
    box-sizing: border-box;
  }
  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }
  body {
    margin: 0;
    font-size: var(--font-size-md);
    box-sizing: border-box;
    max-width: 100vw;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family: var(--title-font-family);
    line-height: var(--title-line-height);
  }
  p,
  span,
  strong,
  em {
    margin: 0;
    font-family: var(--text-font-family);
    line-height: inherit;
    font-size: var(--font-size-md);
  }
  section,
  main,
  div,
  nav,
  ul,
  li,
  picture {
    margin: 0;
  }
  main{
    max-width: 100vw;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: inherit;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  button{
    -webkit-tap-highlight-color: transparent;
  }
  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
  strong {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }