@import url(variables.css);
@import url(reset.css);
@import url(components.css);
@import url(utilities.css);

.card__subtitle{
    padding-top: 1.2rem;
}
.sede__container{
    padding: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
}
@media screen and (min-width: 768px) {
    .sede__container{
        padding: 4.8rem;
    }
}
@media screen and (min-width: 1024px) {
    .banner{
        height: 30rem;
    }
    .card__container {
      flex-direction: row;
    }
    .card__image{
      width: 50%;
    }
  }