@import url(variables.css);
@import url(reset.css);
@import url(components.css);
@import url(utilities.css);

.banner{
    background-image: linear-gradient(0deg, #3a3a3abf, #3a3a3abf), url(../assets/galery-5.jpg);
    background-size: cover;
    background-position: center;
    height: 20rem;
}
.banner__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
}
.banner__title{
    color: var(--amber-300);
}
.card__subtitle{
    padding-top: 1.2rem;
}
.banner__description{
    color: var(--neutral-100);
}
.sede__container{
    padding: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
}
@media screen and (min-width: 768px) {
    .sede__container{
        padding: 4.8rem;
    }
}
@media screen and (min-width: 1024px) {
    .banner{
        height: 30rem;
    }
    .card__container {
      flex-direction: row;
    }
    .card__image{
      width: 50%;
    }
  }